<div class="card-content">
	<ul>
		<li>
			<div class="card-img">
				<span><h5>{{cancha?.id}}</h5></span>
			</div>
			<div class="card-desc">
				<h3>{{cancha?.nombre}}</h3>
			</div>
		</li>
	</ul>
</div>
