<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
		<span class="anchor" id="formLogin"></span>
	<!-- form	card	login	with	validation	feedback	-->
			<div class="card	card-outline-secondary">
				<div class="card-header">
				<h3	class="mb-0">Canchas</h3>
	    		</div>
			    <div class="card-body">
				<form>
					<div class="form-group">
				        <label	for="id">Id</label>
					    <input	type="text"	class="form-control" id="id" placeholder="Ingresar ID de la cancha..." #id>																					
                    </div>
					<div class="form-group">
        				<label	for="Nombre">Nombre</label>
		        		<input	type="text"	class="form-control" id="nombre" placeholder="Ingresar Nombre de la cancha..." #nombre>
					</div>
				    <button	type="submit" class="btn btn-primary" (click)="guardar(id.value, nombre.value)">Guardar!</button> 
				</form>
			</div>
		</div>
	</div>
</div>

<hr	class="mb-5">
	<div class="row">
        <app-cancha *ngFor="let c of canchasLista" [cancha]="c"></app-cancha>
	</div>
